#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.invisible {
  color: transparent;
}

.destroyed {
  color: black;
}

.lang-HTML {
  background-color: #e2680f;
  color: #f9f4da;
}

.lang-CSS {
  background-color: #328af1;
  color: #f9f4da;
}

.lang-Javascript {
  background-color: #f4eb13;
  color: #1e1e1e;
}

.lang-React {
  background-color: #2ed3e9;
  color: #1e1e1e;
}

.lang-Typescript {
  background-color: #298ec6;
  color: #f9f4da;
}

.lang-Node.js {
  background-color: #599137;
  color: #f9f4da;
}

.lang-Python {
  background-color: #ffd742;
  color: #1e1e1e;
}

.lang-Ruby {
  background-color: #d02b2b;
  color: #f9f4da;
}

.lang-Assembly {
  background-color: #2d519f;
  color: #f9f4da;
}
